.dropzone {
    text-align: center;
    padding: 20px;
    border: 2px #008080 dashed;
    width: 60%;
    margin: auto;
    background-color: #b2d8d8;
}

.btn {
    border: 1px #000000 solid;
    text-align: center;
    background-color: aliceblue;
    width: 30%;
    color: black;
    font-weight: bold;
    transition-duration: 0.6s;
}

.btn:hover {
    background-color: #008080;
    color: aliceblue;
}